@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font: 14px 'Century Gothic', Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
.game-info1 {
  margin-bottom: 5px;
  margin-left: 11%;
}
.settings_page {
  animation: fade-in 1s forwards;
}

.left_col_settings {
  width: 15%;
  display: inline-block;
  float: left;
}

.mid_col_settings {
  width: 65%;
  margin: 0 auto;
  display: inline-block;
}

.setting_value button {
  background-color: transparent;
  border: none;
  margin-bottom: 1%;
  transition: 0.33s ease-out;
  padding: 3%;
  font-size: 1.2rem;
}

.setting_value button.selected {
  color: #00c8c8;
}

.setting_value button.set_pace {
  font-size: 1.7rem;
}
.set_pace:hover {
  color: #00d7d7;
}
.shown {
  animation: slide-in 0.5s forwards;
}
.hidden {
  animation: slide-out 0.2s forwards;
  visibility: hidden;
}
.hr_settings {
  display: none;
}
table {
  border-collapse: collapse;
  width: 100%;
  font-weight: 600;
}

td {
  font-weight: bold;
  font-size: 1.5rem;
}
.exit_settings {
  float: right;
}

.exit_settings {
  background-color: transparent;
  margin: 40%;
  padding: 5%;
  font-size: 1.5rem;
  border: none;
  border-radius: 10px;
  transition: 0.33s ease-out;
}

.exit_settings:hover {
  box-shadow: 1px 1px 1px 1px #888888 inset;
  color: #009292;
}

.menu_button {
  animation: slide-in 0.75s forwards;
  background-color: transparent;
  border: none;
  margin: 2%;
  transition: 0.33s ease-out;
  padding: 1%;
  font-size: 2rem;
  border-radius: 5px;
}
.menu_button:hover {
  box-shadow: 1px 1px 1px 1px #888888 inset;
  color: #00c8c8;
}
.main_menu {
  animation: fade-in 1s forwards;
}

button {
  cursor: pointer;
}

button:focus {
  outline: none;
}
